*.class
target/
.settings/
.classpath

# Package Files #
*.jar
*.war
*.ear

/.settings
/.project
/target
/modules/.project
/modules/.settings
/modules/core/.classpath
/modules/algorithms/.classpath
/modules/app-swing/.classpath
/modules/utils/.classpath
/modules/core/.settings
/modules/app-swing/.project
/modules/app-swing/.settings
/modules/app-swing/target
/modules/core/.project
/modules/core/target
/modules/target
/modules/utils/.project
/modules/utils/.settings
/modules/utils/target
/modules/algorithms/.project
/modules/algorithms/.settings
/modules/algorithms/target